<p class="squatch-lead">
  Share {{programDetails.referredRewardDetails.discountPercent}}%

  off {{companyName}} and receive

  {{programDetails.referredRewardDetails.discountPercent}}%

  off your monthly bill when they pay their first bill.
</p>
